*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/secrets/client_secret_828614483216-ql47ddnq773mt6ge92ak0f1idkmlsb6d.apps.googleusercontent.com.json
/app/src/main/assets/client_secret-google.json
/.kotlin
/secrets/
/app/src/main/assets/comunidad-v2.json
/app/src/main/assets/invitation-response.json
/app/src/main/assets/request-invitation.json
/app/src/main/assets/response.json
/app/src/main/assets/response2.json
